.Main-header
{
   top:0;
    background-color: white;
    width: 100vw;
    height: 90px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
    overflow-x: hidden;
    overflow-y: hidden;
    
}
.website-logo img
{
    position: absolute;
    left:34px;
    height: 80px;
    width: 148px;
}
.upper-head
{
    
    display: flex;
    justify-content: flex-end;
    
}
.upper-head ul
{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.upper-head li
{
    
    padding-top: 5px!important;
    padding: 15px;
    font:14px SourceSansPro;
}

.upper-head a
{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.upper-head a:hover
{
    border-bottom: 2px black solid;
}
.btn-visit
{
    background-color: black;
   

}
.btn-visit a
{
    color: aliceblue!important;

}
.btn-visit a:hover
{
    border-bottom: 2px white solid;
}
/*lower head*/


.lower-head
{
    
    margin-top: 15px;
    display: flex;
    font-size: 100%;
    font:inherit;
    justify-content: flex-end;
}
.lower-head ul
{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.lower-head li
{
    


    padding: 15px;
    font:14px SourceSansPro;
}
.lower-head span
{
    cursor: pointer;
}
.search
{

    outline: none;
    margin:4px 14px;
    align-items: center;
    border: none;
    width: 220px;
    
   
}
.search_box
{
    display: flex;
    width: 264px;
    height: 32px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding-top: 0 !important;;
}
.search_main
{
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right:10px;
}
.search_box img
{
    position: relative;
    left:-14px;
    top:6px;
    background-color: antiquewhite;
    align-self: flex-start;
}
.fav_icon
{
    padding-top: 0px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.hand_burger
{
    display: none;
  position: absolute;
  top:0;
  right: 0;
}
.sidebar
{
    
    width: 100%;
    position: absolute;
    right: -1000px;
    top:0px;
    background-color:#fff;
    box-shadow:-3px 0 5px 0 #555
    
}
.sidebar ul
{
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.sidebar li
{
    color: wheat;

    padding: 15px;
    font:14px SourceSansPro;
}
.sidebar .search_box
{
    display: none;
}
.sidebar .fav_icon
{
    display: none;
}
@media screen and (max-width: 992px) {
    .upper-head,.lower-head
    {
        display: none;
    }
    .hand_burger
    {
        display: block;
    }
    .sidebar
    {
        right: 0;
    }

    /* .upper-head ul
    {
        flex-direction: column;
        z-index: 999;
    }
    .upper-head img
    {
      visibility: visible;
      background-color: azure;
    }
    .lower-head ul
    {
        flex-direction: column;
        z-index: 999;
    } */
    
  } 

  .hover_main
  {
    display: none;
    position: absolute;
    top:0
  
  }
  
  .hover_tile:hover  + .hover_main, .hover_main:hover
  {
    display: flex;
    margin: 0px auto;
    position: absolute;
    top:90px;
    left: 0;
    right:0;
    width: 95vw;
    height: 500px;
    background-color: #fff;
    border: 0.2px solid black;
   
  }
 

  .hover_warp
  {
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px; */
  }
  .first_row
  {
    height: 40px;
    display: flex;
   
    gap:3px;
    /* border-top: 0.5px solid black; */
    border-bottom: 0.5px solid black;

  }
  .class_by
  {
    padding-top: 10px;
    font-size: 15px;
  }
  .category,.brands
  {
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.08);
    
  }
  .sec_row
  {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 10px;
  }
  .first_grid_row
  {
    display: flex;

    flex-direction: column;
  }
  .product_search
  {
        position: absolute;
        top:86px;
        margin-left: 15px;
        width: 240px!important;
        background-color: #fff;
        font-weight: 300;
        z-index: 4;
        border: 1px solid #ccc!important;
        border-radius: 0;
        box-shadow: 0 8px 15px #999;
     
    
  }
  .search_template
  {
  
      display: flex;
      justify-content: center;
      padding: 10px 0px;
      width: 100%;
      gap:10px;
      border-bottom: 0.5px solid gray;
  }
  .search_template:hover
  {
      background-color: #ccc;
  }
  .search_template img
  {
      width: 20px;
      height: 20px;
      border-radius: 25px;
  }
  .search_template div
  {
      width: 60px;
  }
  .product_search1
  {
      display: none;
  }