.product_add
{
    margin-top:3rem;
    width:100%;
    height:100%;
    background-color: aquamarine;
}
.product_add h4{
    text-align: center;
}
.form_product
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.form_product div
{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.form_product input
{
    font-size: 20px;
    height:30px;
    width:600px;
}
.form_product button
{
    width: 90px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 20px;
}