.main_head
{
    display: flex;

}
.upper_header
{
    height: 37px;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    gap:15px;
    font-size: 14px;
    color: #324776;
    letter-spacing: -0.14px;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}
.upper_header div
{
    margin-right: 32px;
}
.Wp_wrap
{
    padding-top: 6px;
    display: flex;
    gap:2px;
    align-items: center;
}
.Wp_wrap img
{
    width: 18px;
    height: 18px;
}
.Wp_wrap div
{
color:#151515!important;
font-family: sofia-pro;
font-weight: 700!important;
line-height: 24px;
}
.lang_change
{
  
    display: flex;
    
}
.lang_change img
{
    width: 100%;
    vertical-align: middle;
    height: 100%;
}
.lang_change::after
{
    content: url('https://prestage.jiomeet.com/down-arrow-caret.68406fab6c52ed13e06f.svg');
    transform: translateY(-50%);
    transform: rotate(-180deg);
}
.main_head_s
{
    margin-left: 32px;
}
.lower_header
{
    height: 86px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #324776;
    letter-spacing: -0.14px;
 
    font-weight: 500;
    cursor: pointer;
    
}
.options
{
    padding-left: 73px;
    display: flex;
    
}
.options div
{
    margin-right: 48px;
   
}
.options div::after
{
    padding-left: 5px;
    content: url('https://prestage.jiomeet.com/down-arrow-caret.68406fab6c52ed13e06f.svg');
}
.user_options
{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.user_options div, .user_options button
{
  
    margin-right: 30px;
}
.user_options button
{
    background-color: #fff;
    width: 130px;
    height: 44px;
     font-size: 16px;
    padding: 12px 32px;
    border: 1px solid #447cfd;
    border-radius: 30px;
   
    color: #447cfd;
}
.user_options button:hover
{
    background-color: rgb(239, 84, 37);
    color: rgb(255, 255, 255);
    border-color: rgb(239, 84, 37);
}
.section_main
{
    position: relative;
    top:56px;
    margin: 0 10rem;

}
.main_section
{
    display: flex;
}
.left_section
{
    width: 548px;
    display: flex;
    flex-direction: column;
}
.left_sec_h
{
    font-size:45px;

    text-align: left;
    font: normal normal bold 45px JioType;
    
    letter-spacing: -0.45px;
    color: #29385A;
    opacity: 1;
    margin-bottom: 34px;
    text-align: center;
}
.india_text
{
letter-spacing: var(--unnamed-character-spacing--0-36);
color: var(--unnamed-color-5b6c93);
text-align: left;
font: normal normal normal 24px/37px Sofia Pro;
letter-spacing: -0.36px;
color: #5B6C93;
opacity: 1;
margin-bottom: 42px;
text-align: center;
}
.meeting_option
{
    display: flex;

    align-self: center;
}

.meeting_option img
{
    width: 32px;
    height:32px;
  
}
.plan
{
    width: 120px;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #5B6C93 ;
}
.img_plan
{
    margin: auto;
}
.plan1
{
    width: 120px;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    width: 68px;
    height: 51px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 18px/28px var(--unnamed-font-family-sofia-pro);
    color: var(--unnamed-color-29385a);
    text-align: center;
    font: normal normal bold 18px/28px Sofia Pro;
    letter-spacing: -0.09px;
    color: #29385A;
    opacity: 1;
    
}
.right_section
{
    display: flex;
    justify-content: center;
   
    height: 100%;
}
.btn_hand
{
    display: none;
}
@media screen and (max-width: 1100px)
{
    .upper_header,.options,.user_options
    {
        display: none;
    }

    .section_main
    {
       
        margin: 0 1rem;
    
    }
    .main_section
    {
        flex-direction: column;
        justify-content: center;
    }
    .left_section
    {
        width: 100%;
        align-items: center;
    }
    .btn_hand
    {
        display: block;
        margin-left:auto;
      
        padding-right: 20px;
        background: url('https://jiomeetpro.jio.com/hamburger_menu.9549753eb07f6dbf77ae.svg') no-repeat 50%;
    background-size: 100% 100%;
    border: none;
    width: 1.7142857143rem;
    height: 1.7142857143rem;
    }
}